	:root {
	--amber: #F3C83B;
	--dark-amber: #d8ab17;
	--shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	--stars-background: url(https://images.pexels.com/photos/537027/pexels-photo-537027.png?cs=srgb&dl=dark-shooting-stars-stars-537027.jpg&fm=jpg);
	}

	body {
		margin: 0;
		overflow-x: hidden;
	}
	.flex-container-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
	}
	.flex-container-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
	}
	a {
		text-decoration: none;
		color: black;
	}
	hr { margin: 40px 10px 20px 10px;}
	* {box-sizing: border-box;} 

	
	#welcome-section{
		top: 0;
		color: white;
		background-image: var(--stars-background);
		background-size: 100vw vheight;
	}
	#profile  {
		z-index: 3;
		margin-top: 30vh;
		margin-right: 5vw;
		padding: 0;
		max-width: 40vh;
		max-height: 40vh;
		border: 5px solid;
		border-color: var(--amber);
		border-radius: 50%;
	}
	#welcome-box {
		z-index: 2;
		margin: 40vh 2vw;
	}
	#title {
		margin-bottom: 0;
	}
	#intro {
		margin: 0;
		color: var(--amber);
	}
	.intro-box {
		padding: 0;
		margin: auto;
	}

	.star {
	  z-index: 1;
	  background-color: white;
	  top: 10%;
	  left: -10px;
	  width: 2px;
	  height: 2px;
	  position: absolute;
	  animation-name: shootingstar;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
	}
	.star::before {
	  display: block;
	  position: absolute;
	  width: 400px;
	  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
	}

	@keyframes shootingstar {
	  0% {
		left: -10px;
	  }
	  100% {
		left: 100%;
	  }
	}

	.s1{
	  animation-duration:10s;
	  animation-delay: 0.5s;
	}
	.s2 {
	  animation-duration: 12s;
	  top: 30%;
	  animation-delay: 1s;
	}
	.s3 {
	  animation-duration: 7s;
	  top: 55%;
	}
	.s4 {
	  top: 80%;
	  animation-duration: 5s;
	  animation-delay: 0.75s;
	}
	.s5 {
	  top: 90%;
	  animation-duration: 9s;
	  animation-delay: 3s;
	}
	
	#navbar {
		z-index: 3;
		background-color: black;
		margin: 0;
		padding: 0;
		top: 0;
		width: 100%;
		height: 6vh;
		position: -webkit-sticky;
		position: sticky;
	}
	#navbar ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
	#navbar li a {
		float: left;
		display: block;
		text-decoration: none;
		text-align: center;
		color: var(--amber);
	}
	#navbar li a:hover {
		background-color: var(--dark-amber);
		color: black;
	}
	#name {
		float: left;
		margin: 1px 2vw 0 1vw;
		padding: 5px;
		font-family: 'Damion';
		font-size: 1.2em;
		text-decoration: none;
		color: var(--amber);
	}
	
	.section-name {
		font-size: 2.5em;
		text-align: center;
		padding: 20px;
		color: white;
		font-weight: 900;
		text-shadow: 2.5px 2.5px black;
		margin: 0;
	}
	
	
	#about {
		text-align: center;
		margin: 0;
	}
	.icon {
		font-size: 40px;
	}
	.para {
		text-align: left;
	}
	#about a {
		color: var(--amber);
		font-weight: 700;
	}
	#about a:hover {
		color: var(--dark-amber);
		font-weight: 800;
	}
	.box-container {
		padding: 10px;
		margin: 10px;
		background-color: white;
		border-style: outset;
	}
	
	
	#projects {
		background-image: var(--stars-background);
		margin: 0;
	}
	.language-title {
		text-align: center;
		color: var(--amber);
	}
	.project-container {
		background-color: var(--amber);
		padding: 10px;
		margin: 2vw;
	}
	.project-image {
		width: 100%;
		margin: auto;
		z-index: -1;
	}
	.project-title {
		text-align: center;
		margin: 0;
		padding: 5px;
		font-size: 1.2em;
		font-weight: 800;
	}
	.container {
		position: relative;
	}
	.overlay {
		z-index: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--dark-amber);
		overflow: hidden;
		width: 100%;
		height: 0;
		transition: .5s ease;
	}
	.project-container:hover .overlay {
		height: 100%;
	}
	.text {
		padding: 5px;
		width: 250px;
		height: 100%;
		white-space: wrap; 
		color: white;
		font-size: 16px;
		position: absolute;
		overflow: hidden;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	
	
	#social {
		margin: 0;
		background-color: var(--amber);
	}
	.social-container {display:block;}
	#social1{grid-area:"social1"}
	#social2{grid-area:"social2"}
	#social3{grid-area:"social3"}
	.icon-big {font-size: 80px}
	.flex-container-row-social {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
	}
	
	
	#footer {
		width: 100%;
		background-color: black;
		color: var(--amber);
		padding: 40px;
	}
	#footer p {
		margin: 0;
		padding: 0;
	}
	.flex-container-row-footer{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#version {text-align: right;}
	
	
	[class*="col-"] {
		width: 100%;
	}
	@media only screen and (min-width: 768px) {
		.col-1 {width: 8.33%;}
		.col-2 {width: 16.66%;}
		.col-3 {width: 25%;}
		.col-4 {width: 33.33%;}
		.col-5 {width: 41.66%;}
		.col-6 {width: 50%;}
		.col-7 {width: 58.33%;}
		.col-8 {width: 66.66%;}
		.col-9 {width: 75%;}
		.col-10 {width: 83.33%;}
		.col-11 {width: 91.66%;}
		.col-12 {width: 100%;}
		
		#navbar {
			font-size: 14px;
		}
		#navbar li a{
			padding: 8px;
			width: 25%;
		}
	} 
	@media only screen and (min-width: 1024px) {
		.col-1 {width: 8.33%;}
		.col-2 {width: 16.66%;}
		.col-3 {width: 25%;}
		.col-4 {width: 33.33%;}
		.col-5 {width: 41.66%;}
		.col-6 {width: 50%;}
		.col-7 {width: 58.33%;}
		.col-8 {width: 66.66%;}
		.col-9 {width: 75%;}
		.col-10 {width: 83.33%;}
		.col-11 {width: 91.66%;}
		.col-12 {width: 100%;}
		
		#navbar {
			font-size: 23px;
		}
		#navbar li a {
			padding: 9.5px;
			width: 10%;
		}
	}
	@media only screen and (max-width: 768px) {
		#profile {
			display: none;
		}
		#welcome-box {
			margin: 30vh 0;
		}
		#title, #intro {
			text-align: center;
			padding: 0;
		}
		#navbar {
			font-size: 12px;
		}
		#navbar li a{
			padding: 9.5px;
			width: 33.33%;
		}
		.grid-container{
			grid-template-areas:
				"social1"
				"social2"
				"social3"
				"social4";
			text-align: left;
		}
		.flex-container-row-mo {
			display: flex;
			margin: 0;
			padding: 0;
			flex-direction: row;
			padding: 2vw;
			align-content: center;
		}
		.icon-big{font-size: 40px; margin-top: 1vh;}
		.social-name{float: right; margin-left: 5vw;}
		#footer p{text-align: center; font-size: 0.8;}
		#version {text-align: center;}
	}
